@*<footer class="main-footer">
    <strong>版权 &copy; 2017-2020 <a href="https://gitee.com/hzy6" target="_blank">HZY.AdminRazor</a>.</strong>
    保留所有权利.
    <div class="float-right d-none d-sm-inline-block">
        <b>版本</b> 1.0.0
    </div>
</footer>*@

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->