@inject AppConfiguration AppConfiguration
<header class="hzy-header-skin-blue">
    <div class="hzy-header-left">
        <ul>
            <!--fas fa-indent-->
            <li class="hzy-headerhover" onclick="hzyAdminUI.menu.toggle();">
                <a href="javascript:void(0)">
                    <i class="fas fa-outdent"></i>
                </a>
            </li>
            <li class="hzy-headerhover hzy-logo"><a>@AppConfiguration.AppTitle</a></li>
        </ul>
    </div>
    <div class="hzy-header-right d-none d-lg-block">
        <ul>
            <li class="hzy-headerhover" onclick="hzyBootStrapTabs.loadCurrentPage()">
                <a href="javascript:;">
                    <i class="fas fa-redo"></i>
                </a>
            </li>
            <li class="hzy-headerhover" onclick="$('#examplePositionSidebar').modal()">
                <a href="javascript:;">
                    <i class="fas fa-layer-group"></i>
                </a>
            </li>
            <!--fa fa-compress-->
            <li class="hzy-headerhover">
                <a href="javascript:;"
                   onclick="hzyAdminUI.fullScreen.handleFullScreen(this)"><i class="fas fa-expand"></i></a>
            </li>
            <li class="hzy-headerhover">
                <a href="@Url.Action("Out", "Login")">
                    <span><i class="fas fa-user"></i>&nbsp;@ViewData["UserName"]</span>&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="hzy-header-right d-lg-none">
        <ul>
            <li class="hzy-headerhover">
                <a href="@Url.Action("Out", "Login")"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
</header>