<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HzyAdminUI</title>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <!--[if lt IE 9]>
                      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
                      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
                    <![endif]-->
    <link href="../../css/web-icons-master/css/web-icons.css" rel="stylesheet" />
    <!--样式-->
    <link href="../../css/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/core.css" rel="stylesheet" />
    <link href="../../css/site.css" rel="stylesheet" />
</head>

<body>
    <div class="page-aside-left">
        <div class="page">
            <div class="page-aside">
                <div class="page-aside-switch">
                    <i class="icon wb-chevron-left" aria-hidden="true"></i>
                    <i class="icon wb-chevron-right" aria-hidden="true"></i>
                </div>
                <div class="page-aside-inner h-full">
                    <div data-role="container">
                        <div data-role="content">
                            <section class="page-aside-section">
                                <h5 class="page-aside-title">主要</h5>
                                <div class="list-group">
                                    <a class="list-group-item active" href="javascript:;">
                                        <i class="icon wb-dashboard" aria-hidden="true"></i>概览
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-pluse" aria-hidden="true"></i>活动
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-heart" aria-hidden="true"></i>喜欢
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-folder" aria-hidden="true"></i>文件夹
                                    </a>
                                </div>
                            </section>
                            <section class="page-aside-section">
                                <h5 class="page-aside-title">筛选</h5>
                                <div class="list-group">
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-image" aria-hidden="true"></i>图片
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-volume-high" aria-hidden="true"></i>音频
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-camera" aria-hidden="true"></i>视频
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-file" aria-hidden="true"></i>日记
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-link-intact" aria-hidden="true"></i>链接
                                    </a>
                                    <a class="list-group-item" href="javascript:;">
                                        <i class="icon wb-order" aria-hidden="true"></i>文件
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
            <div class="page-main">
                <div class="page-header">
                    <h1 class="page-title">侧边栏</h1>
                </div>
                <div class="page-content">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">论语学而篇第一</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <small>
                                    <b>作者：</b>
                                    <abbr title="名丘，字仲尼">孔子</abbr>（
                                    <time>前551年9月28日－前479年4月11日</time>
                                    ）
                                </small>
                            </p>
                            <h4>本篇引语</h4>
                            <p>
                                《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。
                            </p>
                            <h4>原文</h4>
                            <p>子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」 </p>
                            <h4>译文</h4>
                            <p>孔子说：「学了又时常温习和练习，不是很愉快吗？有志同道合的人从远方来，不是很令人高兴的吗？人家不了解我，我也不怨恨、恼怒，不也是一个有德的君子吗？」</p>
                            <h4>评析</h4>
                            <p>
                                宋代著名学者朱熹对此章评价极高，说它是「入道之门，积德之基」。本章这三句话是人们非常熟悉的。历来的解释都是：学了以后，又时常温习和练习，不也高兴吗等等。三句话，一句一个意思，前后句子也没有什么连贯性。但也有人认为这样解释不符合原义，指出这里的「学」不是指学习，而是指学说或主张；「时」不能解为时常，而是时代或社会的意思，「习」不是温习，而是使用，引申为采用。而且，这三句话不是孤立的，而是前后相互连贯的。这三句的意思是：自己的学说，要是被社会采用了，那就太高兴了；退一步说，要是没有被社会所采用，可是很多朋友赞同我的学说，纷纷到我这里来讨论问题，我也感到快乐；再退一步说，即使社会不采用，人们也不理解我，我也不怨恨，这样做，不也就是君子吗？（见《齐鲁学刊》1986年第6期文）这种解释可以自圆其说，而且也有一定的道理，供读者在理解本章内容时参考。
                            </p>
                            <p>
                                此外，在对「人不知，而不愠」一句的解释中，也有人认为，「人不知」的后面没有宾语，人家不知道什么呢？当时因为孔子有说话的特定环境，他不需要说出知道什么，别人就可以理解了，却给后人留下一个谜。有人说，这一句是接上一句说的，从远方来的朋友向我求教，我告诉他，他还不懂，我却不怨恨。这样，「人不知」就是「人家不知道我所讲述的」了。这样的解释似乎有些牵强。
                            </p>
                            <p>总之，本章提出以学习为乐事，做到人不知而不愠，反映出孔子学而不厌、诲人不倦、注重修养、严格要求自己的主张。这些思想主张在《论语》书中多处可见，有助于对第一章内容的深入了解。
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">论语学而篇第二</h3>
                        </div>
                        <div class="panel-body">
                            <h4>原文</h4>
                            <p>有子曰：“其为人也孝悌，而好犯上者，鲜矣；不好犯上，而好作乱者，未之有也。君子务本，本立而道生。孝悌也者，其为人之本与！” </p>
                            <h4>译文</h4>
                            <p>有子说：“孝顺父母，顺从兄长，而喜好触犯上层统治者，这样的人很少见的。不喜好触犯上层统治者，而喜好造反的人是没有的。君子专心致力于根本的事务，根本确立了，治国做人的原则也有了。孝顺父母，顺从兄长这就是仁的根本啊！
                            </p>
                            <h4>感悟</h4>
                            <p>孔子和儒家学说的核心是仁，仁的根本就是孝和悌，即孝顺父母，顺服长兄。孔子认为孝悌与社会的安定有着直接的关系，儒家认为，在家中实行了孝悌统治者内部就不会发生犯上作乱的事情，再把小弟推广到劳动民众中去，民众也会绝对服从，而不会起来造反，这样可以维护安定。
                            </p>
                            <p>虽然，自春秋战以后统治者和文人都主张“以孝治天下”，把人们都禁锢在这些伦理道德中，但凡事利弊并存，孝敬父母、赡养父母从古至今都是中华的传统美德，古人给我们遗留下的文化资产《弟子规》、《三字经》中无不显示了“孝悌”的重要思想，它给我们作出了示范和榜样。民以和为贵，社会讲究安定团结，家庭重在幸福和谐，长者，有先辈风范，对子女尽父母之责，为人子女，谦恭有礼，孝敬父母，以尽赡养之责，家庭和睦，其乐融融。
                            </p>
                            <p>如今社会，竞争压力大，年轻人疲于工作，对父母的照顾不够，孝敬父母挂于嘴边，难以落实行动，因此平时多给父母打电话，谈心，陪父母散步，让父母的内心不再空虚，这也是子女的根本呀！
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--脚本-->
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>