@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "首 页";
}

@section Styles{
    <style>
        body {
            background-color: #f0f2f5 !important;
        }

        iframe {
            width: 100%;
            height: calc(100vh - 36px);
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: function () {
                return {
                    imgPath: 'https://portrait.gitee.com/uploads/avatars/user/414/1242080_hzy6_1591000719.png!avatar60',
                    deadline: Date.now() + 1000 * 60 * 60 * 24 * 2 + 1000 * 30,
                }
            },
            created() { },
            mounted: function () {

            },
            methods: {
                onFinish() {
                    console.log(" over ");
                },
            },
        });
    </script>
}

<div id="app" class="p-15" v-cloak>
    <el-card shadow="never" :body-style="{ padding: '0px' }">
        <iframe src="https://antv.gitee.io/zh/" frameborder="0"></iframe>
    </el-card>

</div>
