USE [HzyAdminSpa20220318]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Sex] [nvarchar](255) NULL,
	[Birthday] [datetime2](0) NULL,
	[Photo] [nvarchar](255) NULL,
	[Introduce] [nvarchar](255) NULL,
	[FilePath] [nvarchar](255) NULL,
	[UserId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](0) NULL,
	[LastModificationTime] [datetime2](0) NULL,
 CONSTRAINT [Member_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysDataAuthority]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDataAuthority](
	[Id] [uniqueidentifier] NOT NULL,
	[LastModificationTime] [datetime] NULL,
	[CreationTime] [datetime] NULL,
	[RoleId] [uniqueidentifier] NULL,
	[PermissionType] [int] NULL,
 CONSTRAINT [PK_DataAuthority] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysDataAuthorityCustom]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDataAuthorityCustom](
	[Id] [uniqueidentifier] NOT NULL,
	[LastModificationTime] [datetime] NULL,
	[CreationTime] [datetime] NULL,
	[SysDataAuthorityId] [uniqueidentifier] NULL,
	[SysOrganizationId] [int] NOT NULL,
 CONSTRAINT [PK_SysDataAuthorityCustom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysDictionary]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDictionary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastModificationTime] [datetime] NULL,
	[CreationTime] [datetime] NULL,
	[Sort] [int] NULL,
	[Code] [varchar](255) NULL,
	[Value] [varchar](255) NULL,
	[Name] [varchar](255) NULL,
	[ParentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysFunction]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysFunction](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[ByName] [nvarchar](255) NULL,
	[Remark] [nvarchar](255) NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [SysFunction_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenu]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
	[LevelCode] [varchar](50) NULL,
	[Number] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Url] [nvarchar](255) NULL,
	[Router] [nvarchar](255) NULL,
	[ComponentName] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ParentId] [int] NULL,
	[Show] [bit] NULL,
	[Close] [bit] NULL,
	[KeepAlive] [bit] NULL,
	[State] [bit] NULL,
	[JumpUrl] [varchar](255) NULL,
	[Type] [int] NULL,
 CONSTRAINT [SysMenu_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenuFunction]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenuFunction](
	[Id] [uniqueidentifier] NOT NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
	[Number] [int] NULL,
	[MenuId] [int] NULL,
	[FunctionCode] [varchar](100) NULL,
	[FunctionName] [varchar](100) NULL,
	[Remark] [varchar](100) NULL,
 CONSTRAINT [SysMenuFunction_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysOperationLog]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysOperationLog](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Api] [varchar](500) NULL,
	[Ip] [varchar](255) NULL,
	[Form] [varchar](max) NULL,
	[FormBody] [varchar](max) NULL,
	[QueryString] [varchar](max) NULL,
	[Browser] [varchar](255) NULL,
	[OS] [varchar](255) NULL,
	[UserId] [uniqueidentifier] NULL,
	[TakeUpTime] [bigint] NOT NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [PK__SysOpera__3214EC0743ACCFCD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysOrganization]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysOrganization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[OrderNumber] [int] NULL,
	[LevelCode] [varchar](50) NULL,
	[Leader] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[State] [int] NULL,
	[ParentId] [int] NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [SysOrganization_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysPost]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysPost](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [int] NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[State] [int] NULL,
	[Remarks] [nvarchar](255) NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [SysPost_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysRole]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRole](
	[Id] [uniqueidentifier] NOT NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
	[Number] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Remark] [nvarchar](255) NULL,
	[DeleteLock] [bit] NULL,
 CONSTRAINT [SysRole_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysRoleMenuFunction]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoleMenuFunction](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NULL,
	[MenuId] [int] NULL,
	[MenuFunctionId] [uniqueidentifier] NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [SysRoleMenuFunction_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUser]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[Id] [uniqueidentifier] NOT NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
	[Name] [nvarchar](255) NULL,
	[LoginName] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[DeleteLock] [bit] NULL,
	[OrganizationId] [int] NULL,
 CONSTRAINT [SysUser_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserPost]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserPost](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[PostId] [uniqueidentifier] NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [SysUserPost_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserRole]    Script Date: 2022/3/18 9:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserRole](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL,
	[LastModificationTime] [datetime2](0) NULL,
	[CreationTime] [datetime2](0) NULL,
 CONSTRAINT [SysUserRole_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Member] ([Id], [Number], [Name], [Phone], [Sex], [Birthday], [Photo], [Introduce], [FilePath], [UserId], [CreationTime], [LastModificationTime]) VALUES (N'96a1aa3d-a61a-42d0-954a-c71753fb2065', N'123', N'123', N'123', N'女', CAST(N'2018-04-25T23:00:00.0000000' AS DateTime2), NULL, N'<p>123</p>', NULL, N'ac18f496-e93d-42f0-b59e-e321acc85335', CAST(N'2020-10-24T00:07:42.0000000' AS DateTime2), CAST(N'2021-04-18T22:08:06.0000000' AS DateTime2))
INSERT [dbo].[Member] ([Id], [Number], [Name], [Phone], [Sex], [Birthday], [Photo], [Introduce], [FilePath], [UserId], [CreationTime], [LastModificationTime]) VALUES (N'9a604aa2-9ae6-4a2f-8ddb-d9e0289ead9e', N'1', N'测试会员', N'18510912123', N'男', CAST(N'2019-07-08T11:47:24.0000000' AS DateTime2), N'/upload/files/20210118/time_232747_old_name_hzy.png', N'<p>888</p>', N'/upload/files/20210118/time_233310_old_name_hzy.png', N'ac18f496-e93d-42f0-b59e-e321acc85335', CAST(N'2018-04-25T23:00:00.0000000' AS DateTime2), CAST(N'2021-01-19T14:19:47.0000000' AS DateTime2))
GO
INSERT [dbo].[SysDataAuthority] ([Id], [LastModificationTime], [CreationTime], [RoleId], [PermissionType]) VALUES (N'd09bf250-c5b0-41cb-237d-08da00442990', CAST(N'2022-03-08T10:02:22.620' AS DateTime), CAST(N'2022-03-07T22:09:58.000' AS DateTime), N'40ff1844-c099-4061-98e0-cd6e544fcfd3', 5)
GO
SET IDENTITY_INSERT [dbo].[SysDictionary] ON 

INSERT [dbo].[SysDictionary] ([Id], [LastModificationTime], [CreationTime], [Sort], [Code], [Value], [Name], [ParentId]) VALUES (1, CAST(N'2021-07-25T22:39:34.870' AS DateTime), CAST(N'2021-07-25T22:31:30.490' AS DateTime), 1, N'news_type', NULL, N'资讯类别', NULL)
INSERT [dbo].[SysDictionary] ([Id], [LastModificationTime], [CreationTime], [Sort], [Code], [Value], [Name], [ParentId]) VALUES (2, CAST(N'2021-07-25T22:40:30.037' AS DateTime), CAST(N'2021-07-25T22:38:49.153' AS DateTime), 1, N'news_type_nan', N'1', N'男', 1)
INSERT [dbo].[SysDictionary] ([Id], [LastModificationTime], [CreationTime], [Sort], [Code], [Value], [Name], [ParentId]) VALUES (3, CAST(N'2021-07-25T22:40:52.990' AS DateTime), CAST(N'2021-07-25T22:40:47.933' AS DateTime), 2, N'news_type_nv', N'2', N'女', 1)
SET IDENTITY_INSERT [dbo].[SysDictionary] OFF
GO
INSERT [dbo].[SysFunction] ([Id], [Number], [Name], [ByName], [Remark], [LastModificationTime], [CreationTime]) VALUES (N'b6fd5425-504a-46a9-993b-2f8dc9158eb8', 80, N'打印', N'Print', N'Print', CAST(N'2021-04-18T22:08:06.0000000' AS DateTime2), CAST(N'2016-06-20T13:40:52.0000000' AS DateTime2))
INSERT [dbo].[SysFunction] ([Id], [Number], [Name], [ByName], [Remark], [LastModificationTime], [CreationTime]) VALUES (N'c9518758-b2e1-4f51-b517-5282e273889c', 10, N'显示', N'Display', N'Display', CAST(N'2021-04-18T22:08:06.0000000' AS DateTime2), CAST(N'2016-06-20T13:40:52.0000000' AS DateTime2))
INSERT [dbo].[SysFunction] ([Id], [Number], [Name], [ByName], [Remark], [LastModificationTime], [CreationTime]) VALUES (N'f27ecb0a-197d-47b1-b243-59a8c71302bf', 60, N'检索', N'Search', N'Search', CAST(N'2021-04-18T22:08:06.0000000' AS DateTime2), CAST(N'2016-06-20T13:40:52.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[SysMenu] ON 

INSERT [dbo].[SysMenu] ([Id], [LastModificationTime], [CreationTime], [LevelCode], [Number], [Name], [Url], [Router], [ComponentName], [Icon], [ParentId], [Show], [Close], [KeepAlive], [State], [JumpUrl], [Type]) VALUES (1, CAST(N'2022-03-04T12:25:39.0000000' AS DateTime2), CAST(N'2021-05-28T11:49:02.0000000' AS DateTime2), N'1', 10, N'更多示例', NULL, NULL, NULL, N'MoreOutlined', NULL, 1, 1, 1, 1, NULL, 1)
INSERT [dbo].[SysMenu] ([Id], [LastModificationTime], [CreationTime], [LevelCode], [Number], [Name], [Url], [Router], [ComponentName], [Icon], [ParentId], [Show], [Close], [KeepAlive], [State], [JumpUrl], [Type]) VALUES (2, CAST(N'2022-03-04T12:26:04.0000000' AS DateTime2), CAST(N'2021-01-16T16:05:22.0000000' AS DateTime2), N'1.2', 10, N'Antd Vue3.0组件', N'views/AntdVueComponents.vue', N'/antd/vue/components', N'AntdVueComponentsCom', N'LayoutOutlined', 1, 1, 1, 1, 1, NULL, 2)
INSERT [dbo].[SysMenu] ([Id], [LastModificationTime], [CreationTime], [LevelCode], [Number], [Name], [Url], [Router], [ComponentName], [Icon], [ParentId], [Show], [Close], [KeepAlive], [State], [JumpUrl], [Type]) VALUES (3, CAST(N'2022-03-04T12:26:14.0000000' AS DateTime2), CAST(N'2020-12-17T14:58:05.0000000' AS DateTime2), N'1.3', 30, N'按钮', N'views/Button.vue', N'/button', N'ButtonCom', N'AppstoreOutlined', 1, 1, 1, 1, 1, NULL, 2)
SET IDENTITY_INSERT [dbo].[SysMenu] OFF
GO
INSERT [dbo].[SysMenuFunction] ([Id], [LastModificationTime], [CreationTime], [Number], [MenuId], [FunctionCode], [FunctionName], [Remark]) VALUES (N'33c80938-82c8-4299-0f12-08d9fdad00ab', CAST(N'2022-03-04T15:17:09.0000000' AS DateTime2), CAST(N'2022-03-04T15:17:09.0000000' AS DateTime2), 10, 30, N'Display', N'显示', N'Display')
INSERT [dbo].[SysMenuFunction] ([Id], [LastModificationTime], [CreationTime], [Number], [MenuId], [FunctionCode], [FunctionName], [Remark]) VALUES (N'ef70b789-21ee-4850-0f1b-08d9fdad00ab', CAST(N'2022-03-04T15:16:44.0000000' AS DateTime2), CAST(N'2022-03-04T15:16:44.0000000' AS DateTime2), 10, 22, N'Display', N'显示', N'Display')
INSERT [dbo].[SysMenuFunction] ([Id], [LastModificationTime], [CreationTime], [Number], [MenuId], [FunctionCode], [FunctionName], [Remark]) VALUES (N'dab12c2f-1f4d-4347-0f1c-08d9fdad00ab', CAST(N'2022-03-04T15:17:24.0000000' AS DateTime2), CAST(N'2022-03-04T15:17:24.0000000' AS DateTime2), 10, 31, N'Display', N'显示', N'Display')
GO
SET IDENTITY_INSERT [dbo].[SysOrganization] ON 

INSERT [dbo].[SysOrganization] ([Id], [Name], [OrderNumber], [LevelCode], [Leader], [Phone], [Email], [State], [ParentId], [LastModificationTime], [CreationTime]) VALUES (1, N'阿里巴巴集团', 1, N'1', N'hzy', N'18410912184', N'18410912184@qq.com', 1, NULL, CAST(N'2021-05-27T20:50:31.0000000' AS DateTime2), CAST(N'2021-05-27T20:50:31.0000000' AS DateTime2))
INSERT [dbo].[SysOrganization] ([Id], [Name], [OrderNumber], [LevelCode], [Leader], [Phone], [Email], [State], [ParentId], [LastModificationTime], [CreationTime]) VALUES (2, N'北京分部', 3, N'1.2', N'北京分部', N'132123', N'13131', 1, 1, CAST(N'2021-12-28T16:13:34.0000000' AS DateTime2), CAST(N'2021-05-27T22:33:44.0000000' AS DateTime2))
INSERT [dbo].[SysOrganization] ([Id], [Name], [OrderNumber], [LevelCode], [Leader], [Phone], [Email], [State], [ParentId], [LastModificationTime], [CreationTime]) VALUES (3, N'市场部门', 1, N'1.2.3', N'市场部门', N'234124234', N'234234@qq.com', 1, 2, CAST(N'2021-05-27T22:33:57.0000000' AS DateTime2), CAST(N'2021-05-27T22:33:57.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SysOrganization] OFF
GO
INSERT [dbo].[SysPost] ([Id], [Number], [Code], [Name], [State], [Remarks], [LastModificationTime], [CreationTime]) VALUES (N'f0bd38c2-f1de-4bd9-e2db-08da00a93622', 5, N'dotnet_engineer', N'DotNet软件工程师', 1, NULL, CAST(N'2022-03-08T10:13:18.0000000' AS DateTime2), CAST(N'2022-03-08T10:13:18.0000000' AS DateTime2))
INSERT [dbo].[SysPost] ([Id], [Number], [Code], [Name], [State], [Remarks], [LastModificationTime], [CreationTime]) VALUES (N'0716b4b0-9a06-43e9-8ae8-82c74875f83e', 2, N'se', N'项目经理', 1, NULL, CAST(N'2021-05-27T20:26:35.0000000' AS DateTime2), CAST(N'2021-05-27T20:26:35.0000000' AS DateTime2))
INSERT [dbo].[SysPost] ([Id], [Number], [Code], [Name], [State], [Remarks], [LastModificationTime], [CreationTime]) VALUES (N'96927c30-41d0-4ced-8e29-cbed35c90fb0', 1, N'ceo', N'董事长', 1, NULL, CAST(N'2021-05-27T20:26:22.0000000' AS DateTime2), CAST(N'2021-05-27T20:26:22.0000000' AS DateTime2))
GO
INSERT [dbo].[SysRole] ([Id], [LastModificationTime], [CreationTime], [Number], [Name], [Remark], [DeleteLock]) VALUES (N'18fa4771-6f58-46a3-80d2-6f0f5e9972e3', CAST(N'2021-01-10T11:25:12.0000000' AS DateTime2), CAST(N'2016-07-06T17:59:20.0000000' AS DateTime2), 1, N'超级管理员', N'拥有所有权限', 1)
INSERT [dbo].[SysRole] ([Id], [LastModificationTime], [CreationTime], [Number], [Name], [Remark], [DeleteLock]) VALUES (N'40ff1844-c099-4061-98e0-cd6e544fcfd3', CAST(N'2021-01-30T00:51:17.0000000' AS DateTime2), CAST(N'2016-07-06T17:59:20.0000000' AS DateTime2), 2, N'普通用户', N'普通用户', 1)
GO
INSERT [dbo].[SysRoleMenuFunction] ([Id], [RoleId], [MenuId], [MenuFunctionId], [LastModificationTime], [CreationTime]) VALUES (N'8e81677b-0b69-4aa2-50b7-08da0046a5b6', N'40ff1844-c099-4061-98e0-cd6e544fcfd3', 2, N'a7cd04db-bbe3-49b6-0f1e-08d9fdad00ab', CAST(N'2022-03-07T22:27:45.0000000' AS DateTime2), CAST(N'2022-03-07T22:27:45.0000000' AS DateTime2))
INSERT [dbo].[SysRoleMenuFunction] ([Id], [RoleId], [MenuId], [MenuFunctionId], [LastModificationTime], [CreationTime]) VALUES (N'c6c7c04b-d22e-4aad-50b8-08da0046a5b6', N'40ff1844-c099-4061-98e0-cd6e544fcfd3', 3, N'f64cfe50-1ef1-457f-0f20-08d9fdad00ab', CAST(N'2022-03-07T22:27:45.0000000' AS DateTime2), CAST(N'2022-03-07T22:27:45.0000000' AS DateTime2))
INSERT [dbo].[SysRoleMenuFunction] ([Id], [RoleId], [MenuId], [MenuFunctionId], [LastModificationTime], [CreationTime]) VALUES (N'74857e94-3aea-4161-50b9-08da0046a5b6', N'40ff1844-c099-4061-98e0-cd6e544fcfd3', 5, N'a1ddd02f-8c21-4d79-0f21-08d9fdad00ab', CAST(N'2022-03-07T22:27:45.0000000' AS DateTime2), CAST(N'2022-03-07T22:27:45.0000000' AS DateTime2))
GO
INSERT [dbo].[SysUser] ([Id], [LastModificationTime], [CreationTime], [Name], [LoginName], [Password], [Phone], [Email], [DeleteLock], [OrganizationId]) VALUES (N'5722af0f-2366-4fc9-62d5-08da00e3d8a0', CAST(N'2022-03-08T17:13:02.0000000' AS DateTime2), CAST(N'2022-03-08T17:13:02.0000000' AS DateTime2), N'杜甫', N'杜甫', N'46F94C8DE14FB36680850768FF1B7F2A', N'12345678900', N'12345678900@qq.com', 0, 7)
INSERT [dbo].[SysUser] ([Id], [LastModificationTime], [CreationTime], [Name], [LoginName], [Password], [Phone], [Email], [DeleteLock], [OrganizationId]) VALUES (N'4fd6a740-0cf1-4975-62d6-08da00e3d8a0', CAST(N'2022-03-08T17:14:13.0000000' AS DateTime2), CAST(N'2022-03-08T17:14:13.0000000' AS DateTime2), N'李商隐', N'李商隐', N'46F94C8DE14FB36680850768FF1B7F2A', N'12345678900', N'12345678900@qq.com', 0, 7)
INSERT [dbo].[SysUser] ([Id], [LastModificationTime], [CreationTime], [Name], [LoginName], [Password], [Phone], [Email], [DeleteLock], [OrganizationId]) VALUES (N'e225e163-31c9-4da9-62d7-08da00e3d8a0', CAST(N'2022-03-08T17:15:07.0000000' AS DateTime2), CAST(N'2022-03-08T17:15:07.0000000' AS DateTime2), N'苏轼', N'苏轼', N'46F94C8DE14FB36680850768FF1B7F2A', N'12345678900', N'12345678900@qq.com', 0, 7)
GO
INSERT [dbo].[SysUserPost] ([Id], [UserId], [PostId], [LastModificationTime], [CreationTime]) VALUES (N'978fc672-d829-4dad-abc7-071810c5ad18', N'e225e163-31c9-4da9-62d7-08da00e3d8a0', N'e46af329-6d08-442c-9837-f22cff954411', CAST(N'2022-03-08T17:15:08.0000000' AS DateTime2), CAST(N'2022-03-08T17:15:08.0000000' AS DateTime2))
INSERT [dbo].[SysUserPost] ([Id], [UserId], [PostId], [LastModificationTime], [CreationTime]) VALUES (N'8100145c-9cd0-49bf-9a62-25c9e508bc1c', N'a1b6dafb-2b6a-4ff9-62da-08da00e3d8a0', N'f0bd38c2-f1de-4bd9-e2db-08da00a93622', CAST(N'2022-03-08T17:19:55.0000000' AS DateTime2), CAST(N'2022-03-08T17:19:55.0000000' AS DateTime2))
INSERT [dbo].[SysUserPost] ([Id], [UserId], [PostId], [LastModificationTime], [CreationTime]) VALUES (N'575bf085-47bb-42f2-8b68-620cf460b164', N'0198459e-2034-4533-b843-5d227ad20740', N'96927c30-41d0-4ced-8e29-cbed35c90fb0', CAST(N'2022-03-08T17:29:22.0000000' AS DateTime2), CAST(N'2022-03-08T17:29:22.0000000' AS DateTime2))
GO
INSERT [dbo].[SysUserRole] ([Id], [UserId], [RoleId], [LastModificationTime], [CreationTime]) VALUES (N'ad5014f2-92e8-4109-9ca4-013a92390f8b', N'cc186fe2-ee27-4292-62db-08da00e3d8a0', N'40ff1844-c099-4061-98e0-cd6e544fcfd3', CAST(N'2022-03-08T17:20:20.0000000' AS DateTime2), CAST(N'2022-03-08T17:20:20.0000000' AS DateTime2))
INSERT [dbo].[SysUserRole] ([Id], [UserId], [RoleId], [LastModificationTime], [CreationTime]) VALUES (N'ce9f61ac-79d8-426f-9066-36962c017bf6', N'5722af0f-2366-4fc9-62d5-08da00e3d8a0', N'40ff1844-c099-4061-98e0-cd6e544fcfd3', CAST(N'2022-03-08T17:13:02.0000000' AS DateTime2), CAST(N'2022-03-08T17:13:02.0000000' AS DateTime2))
INSERT [dbo].[SysUserRole] ([Id], [UserId], [RoleId], [LastModificationTime], [CreationTime]) VALUES (N'b79a27f7-fc78-421c-9872-3f54bbd303a1', N'1550d6d4-0529-4fdd-62dc-08da00e3d8a0', N'40ff1844-c099-4061-98e0-cd6e544fcfd3', CAST(N'2022-03-08T17:30:56.0000000' AS DateTime2), CAST(N'2022-03-08T17:30:56.0000000' AS DateTime2))
GO
ALTER TABLE [dbo].[SysDataAuthority] ADD  CONSTRAINT [DF_DataAuthority_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysDataAuthorityCustom] ADD  CONSTRAINT [DF_SysDataAuthorityCustom_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据权限类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDataAuthority', @level2type=N'COLUMN',@level2name=N'PermissionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'LastModificationTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'CreationTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'Sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组名/键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级分组id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据字典' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接口地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'Api'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ip地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'Ip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表单信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'Form'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'json表单信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'FormBody'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址栏信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'QueryString'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'当前操作人id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接口耗时（毫秒）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysOperationLog', @level2type=N'COLUMN',@level2name=N'TakeUpTime'
GO
