/*
 * *******************************************************
 *
 * 作者：hzy
 *
 * 开源地址：https://gitee.com/hzy6
 *
 * *******************************************************
 */
html, body {
    /*    background: #f4f6f9;*/
    /*    background: #F2F6FC;*/
    background: #f0f2f5;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.page {
    /*    background: #F2F6FC;*/
    background: #f0f2f5;
}

.container, .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.vxe-toolbar {
    min-height: auto;
}

.line {
    border: 1px solid #e8eaec;
    min-height: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.tip-primary {
    border-left: 4px solid #007bff;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-secondary {
    border-left: 4px solid #6c757d;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-success {
    border-left: 4px solid #28a745;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-danger {
    border-left: 4px solid #dc3545;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-warning {
    border-left: 4px solid #ffc107;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-info {
    border-left: 4px solid #17a2b8;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-light {
    border-left: 4px solid #f8f9fa;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.tip-dark {
    border-left: 4px solid #343a40;
    padding: 10px 20px 10px 20px;
    background-color: #F2F6FC;
}

.hzyAdminForm {
    padding-bottom: 80px !important;
}

    .hzyAdminForm .hzyAdminForm-footer {
        width: 100%;
        padding: 10px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #F8F8F8;
        border-top: 1px solid #eee;
        z-index: 999999;
    }

.hzyAdmin-FindBack-Container {
    position: relative;
}

    .hzyAdmin-FindBack-Container input {
        background: transparent !important;
    }

    .hzyAdmin-FindBack-Container .hzyAdmin-FindBack-Btns {
        position: absolute;
        opacity: 0;
        width: 0;
        right: 0;
        top: 0;
    }

    .hzyAdmin-FindBack-Container:hover .hzyAdmin-FindBack-Btns {
        opacity: 1;
        width: auto;
    }