.code_generation_container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    overflow: hidden;
    color: #B683D4;
    background: #2c3e50;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.code_generation_container select {
    color: #B683D4 !important;
    background: #2c3e50 !important;
    border: 1px solid #B683D4 !important;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.code_generation_container select:focus {
    border: 1px solid #B683D4 !important;
}

.code_generation_container .key {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #B683D4;
    border-radius: 5px;
}

.code_generation_container .download {
    border: 1px solid #B683D4;
    border-radius: 5px;
    margin-top: 20px;
    padding:8px;
}

/************************************左边*****/
.code_generation_left {
    flex: .2;
    padding: 15px;
}

.code_generation_left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.code_generation_left ul li {
    padding: 15px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}

.code_generation_left ul li:hover {
    background: #4e6e8e;
    color: #fff;
}

/************************************中间*****/
.code_generation_center {
    flex: .6;
    min-width: 200px;
    background: #1d2935;
}

.code_generation_center pre {
    width: 100%;
    height: 100%;
    background: #1d2935;
    color: #B683D4;
    border: 0;
    padding: 10px;
}

/************************************右边*****/
.code_generation_right {
    flex: .2;
    overflow: auto;
}

.code_generation_right ul {
    list-style: none;
    margin: 0;
    padding: 20px;
}

.code_generation_right ul li {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: .8rem;
    font-weight: bold;
}