@import "hzy-admin-ui-tools.less";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  // overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  // font-size: 16px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

