@import 'element-plus/dist/index.css';
// main.ts
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import './dark/css-vars.css';
//
@import 'element-plus/theme-chalk/display.css';
//vxe table
@import "./hzy-admin-ui-layout-vxe-table.scss";
//样式-nprogress
@import "nprogress/nprogress.css";

:root {
    --el-border-radius-base: 2px;
}

.el-message-box {
    --el-messagebox-border-radius: 2px;
}

.el-card {
    --el-card-border-radius: 2px;
}

@media (max-width: 576px) {
    .el-message-box {
        --el-messagebox-width: 95%;
    }
}
.bg-color {
    background-color: var(--el-fill-color-light)
}